<app-header title="{{catName}}"></app-header>

<ion-content>
    <ion-row>
        <ion-col size="6" size-md="3" size-sm="4" size-xsm="12" *ngFor="let products of products" >
            <ion-card button [routerLink]="['/','details',products.id]">
                
                <div *ngIf="products.images[0].src != null">
                    <img src="{{products.images[0].src}}">
                </div> 
                <div class="textContainer">
                    <div class="tittle">
                        {{products.name}}
                    </div>
                    <div class="subtittle">
                        <div class="regular_price" *ngIf="products.regular_price !=''" >${{products.regular_price}}</div>
                        <div class="price">${{products.price}}</div>
                    </div>
                </div>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
