<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
      <!-- Searchbar with a placeholder -->
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-md="4" size-sm="6" size-xsm="12" *ngFor="let category of (categories)">
      <ion-card button (click)="pushProducts(category.id,category.name)">
        <div *ngIf="category.image.src != null">
          <img class="catImage" src="{{category.image.src}}">
          <div class="font">
            {{category.name}}
          </div>
        </div>          
      </ion-card>
    </ion-col>
  </ion-row> 
</ion-content>